@use "../base/typography.scss" as t;
@use "../base/colors.scss" as c;
@use "../base/mixins.scss" as m;

.limitations {
  @include m.container;
  margin: 10.4rem 0;
  background-image: url(/assets/images/pattern-curved-line-right.svg);
  background-size: 9.4rem 12.2rem;
  background-repeat: no-repeat;
  background-position: left 16.5rem top 25.1rem;

  &__row {
    display: flex;
    gap: 3.2rem;
    margin-bottom: 2.4rem;

    &:first-child {
      margin-bottom: 3.2rem;
    }
  }

  &__header {
    max-width: 56.4rem;

    h2 {
      @include t.text-2;
      color: c.$Blue-900;
      margin-bottom: 3.2rem;
    }
  }

  &__card {
    max-width: 36.5rem;

    &--1 {
      margin-left: auto;
      margin-right: 9.9rem;
    }

    &--2 {
      margin-left: auto;
    }

    &--4 {
      margin-left: auto;
    }

    &--5 {
      margin-right: auto;
    }
  }

  @media (max-width: t.$Tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.6rem;
    margin: 0;
    padding: 9.6rem 3.9rem;
    background-image: none;

    &__row {
      display: contents;
      margin-bottom: 2.4rem;
    }

    &__header {
      width: 100%;
      max-width: unset;
      text-align: center;
      margin-bottom: 4rem;

      h2 {
        @include t.text-3;
      }
    }

    &__card {
      max-width: calc(50% - 0.8rem);

      &--1 {
        margin-right: 0;
      }

      &--5 {
        margin-right: 0;
      }
    }
  }

  @media (max-width: t.$Mobile) {
    padding: 8.2rem 1.9rem;
    &__card {
      max-width: 100%;
    }
  }
}
