@use "../base/typography.scss" as t;
@use "../base/colors.scss" as c;
@use "../base/mixins.scss" as m;

.form {
  &__group--radio {
    input {
      display: none;
    }

    label {
      @include t.text-6-semibold;
      color: c.$Blue-900;
      display: flex;
      align-items: center;
      gap: 1.6rem;
      cursor: pointer;

      &::before {
        content: "";
        display: block;
        width: 3.1rem;
        height: 3.1rem;
        border-radius: 99rem;
        border: 0.13rem solid c.$Grey-500;
      }

      &:hover::before {
        border: 0.15rem solid c.$Blue-500;
      }
    }

    &:has(input:checked) {
      label::before {
        border: none;
        background: radial-gradient(c.$Blue-500 39%, c.$Blue-100 41%);
      }
    }
  }

  &__group--number {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 0.8rem;

    label {
      @include t.text-7;
      color: c.$Grey-500;
      display: block;

      &[for="height"] {
        @include m.labelInnetTag;

        &::after {
          content: "cm";
          @include t.text-4;
          color: c.$Blue-500;
        }
      }

      &[for="weight"] {
        @include m.labelInnetTag;

        &::after {
          content: "kg";
          @include t.text-4;
          color: c.$Blue-500;
        }
      }

      &[for="feet"] {
        @include m.labelInnetTag;

        &::after {
          content: "ft";
          @include t.text-4;
          color: c.$Blue-500;
        }
      }

      &[for="inches"] {
        @include m.labelInnetTag;

        &::after {
          content: "in";
          @include t.text-4;
          color: c.$Blue-500;
        }
      }

      &[for="stones"] {
        @include m.labelInnetTag;

        &::after {
          content: "st";
          @include t.text-4;
          color: c.$Blue-500;
        }
      }

      &[for="libs"] {
        @include m.labelInnetTag;

        &::after {
          content: "lbs";
          @include t.text-4;
          color: c.$Blue-500;
        }
      }
    }

    input {
      @include t.text-4;
      padding: 1.6rem;
      border: 0.13rem solid c.$Grey-500;
      border-radius: 1.2rem;
      width: 100%;
      position: relative;
      padding-right: 8rem;

      &:hover {
        border: 0.15rem solid c.$Blue-500;
      }

      &:focus-visible {
        outline: none;
        border: 0.15rem solid c.$Blue-500;
      }
    }

    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    input[type="number"] {
      -moz-appearance: textfield;
    }
  }

  &:has(#metric:checked) .imperial {
    display: none !important;
  }

  &:has(#imperial:checked) .metric {
    display: none !important;
  }

  @media (max-width: t.$Mobile) {
    &__group--number.metric {
      grid-column: 1/-1;
    }
  }
}
